.hero-container {
  height: 60vh; /* Altura da seção (60% da altura da tela) */
  background-size: cover; /* Faz a imagem cobrir todo o espaço */
  background-position: center; /* Centraliza a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/img/hambhero.jpg");
  
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay preto semi-transparente */
}

.hero-title {
  color: #ff5733;
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-content {
  position: relative; /* Fica acima do overlay */
  z-index: 10;
  text-align: center;
  color: #fff;
}

.hero-slogan {
  font-size: 1.5rem;
  font-weight: italic;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-button {
  background-color: #ff5733; /* Cor de destaque vibrante */
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px; /* Botão arredondado */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-button:hover {
  background-color: #e64a19; /* Cor mais escura no hover */
  transform: scale(1.05); /* Efeito sutil de zoom */
}

/* Responsividade básica para telas menores */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-slogan {
    font-size: 1.2rem;
  }
  .hero-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
